<% include ../partials/boilerplate %>
<div class="middle">
 <h1 class="msg">Create your TEAM!</h1>
  <form class="form" action="/team" method="POST">
    <input class="inpt" type="text" name="teamname" placeholder="Team Name" required/>
   <input class="inpt" type="text" name="ownername" placeholder="Owner Name" required/>
    <input class="inpt" type="text" name="picture_url" placeholder="Team Logo URL" />
    <input class="inpt" type="submit" value="Create!" />
  </form>
</div>

<% include ../partials/end %>